{
  "separating-strategy": "codeception-report",
  "use-default-separating-strategy": true,
  "allure-reports-directory": "/path/to/file/with/allure/reports/directory/",
  "codeception-report-directory": "/path/to/file/with/codeception/test/",
  "tests-directory": "/path/to/project/tests/",
  "result-path": "/path/to/project/file/groups/",
  "level": "class",
  "test-suites-directories": [
      "list",
      "sub-directories",
      "with",
      "test-suites"
  ]
}
